/* put your css changes here */

/* @import url("dark_theme.css"); */

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

.item{
    color: black;
}
.ui.breadcrumb a{
    color: #4162c4
}

/*Changing header color contrast*/
.ui.huge.breadcrumb a{
    color: #4162c4
}
.ui.basic.blue.button{
    color: black;
    font: bold;
}
.ui .text.grey {
    color: black;
}
.ui basic clone button blue{
    color: black;
}
.repo-clone-https{
    color: black;
}